---
apiVersion: v1
kind: ConfigMap
metadata:
  name: recommendation-configmap
data:
  server.port: "7002"
  SPRING_PROFILES_ACTIVE: docker

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation_deployment
spec:
  selector:
    matchLabels:
      app: recommendation_deployment
  template:
    metadata:
      labels:
        app: recommendation_deployment
    spec:
      containers:
      - name: recommendation_deployment
        image: philipasd/recommendation_service:v0.0.0
        imagePullPolicy: Always
        ports:
        - containerPort: 7002
        env:
        - name:  SPRING_PROFILES_ACTIVE
          valueFrom:
            configMapKeyRef:
              name:  recommendation-configmap
              key:  SPRING_PROFILES_ACTIVE

--- 

apiVersion: v1
kind: Service
metadata:
  name: recommendation_service
spec:
  selector:
    app: recommendation_deployment
  ports:
  - name: http
    port: 80
    targetPort: 7002
