---

apiVersion: apps/v1
kind: Deployment
metadata:
  name:  app-deployment
  labels:
    app:  app
spec:
  selector:
    matchLabels:
      app: app-deployment
  replicas: 1
  template:
    metadata:
      labels:
        app:  app-deployment
    spec:
      containers:
      - name:  app
        image:  philipasd/app
        imagePullPolicy: Always
        ports:
        - containerPort:  80